:root {
    --primary-color: #fff;
    --header-color: #FFC0CB;
    /*Цвет заголовка*/
    --shadow-color: rgba(0, 0, 0, 0.2);
    /*Цвет затенения - чёрный с прозрачностью 80%*/
    --text-color: #333;
    --hover-color: #f0f0f0;
    --active-color: #e0e0e0;
    /*Цвет активного пункта меню*/
    --link-color: #ffffff;
    --menu-height: 60px;
    --logo-size: 70px;
    --padding: 20px;
    --font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
}

/*Шапка*/
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px var(--padding);
    background-color: var(--header-color);
    box-shadow: 0 2px 5px var(--shadow-color);
}

.top-logo img {
    height: var(--logo-size);
}

.top-slogan {
    flex: 1;
    text-align: center;
    font-size: calc(var(--font-size) + 6px);
    font-weight: 500;
    font-style: italic;
}

.top-phone {
    margin-right: 6px;
    color: #007bff;
}

/* Меню навигации */
.menu-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--menu-height);
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    padding: 0 var(--padding);
    position: relative;
}

.menu-icon {
    font-size: calc(var(--font-size) + 4px);
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: none;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.menu-list li {
    margin-left: 20px;
}

.menu-list li a {
    padding: 10px 15px;
    border-radius: 4px;
    color: var(--text-color);
    font-weight: 500;
}

.menu-list li a:hover {
    background-color: var(--hover-color);
}

.menu-list li a.active {
    background-color: var(--active-color);
    font-weight: 900;
}

/* Основное содержимое */
.main-content {
    max-width: 1200px;
    margin: 20px auto;
}

.main-primary-text, .main-secondary-text {
    padding: var(--padding);
    text-align: justify;
}

.main-primary-text h2, .main-secondary-text h2 {
    margin-bottom: 30px;
    text-align: center;
}

.main-primary-text p, .main-secondary-text p, .main-about p {
    font-size: var(--font-size);
}

.main-primary-text img {
    float: left;
    margin-right: 10px;
    height: 930px;
}

.main-primary-text p {
    line-height: 1.0;
    margin-bottom: 10px;
    text-align: justify;
}

.main-secondary-text h3{
    padding: var(--padding);
}

.main-secondary-text p, .main-about p {
    line-height: 1.5;
}

.main-about {
    margin: 10px 20px;
}

.main-about img {
    float: left;
    margin-right: 10px;
    height: 340px;
    border-radius: 10px;
}

.main-about p {
    margin-bottom: 10px;
    text-align: justify;
}

.main-record {
    background: linear-gradient(to right, darkgreen, brown);
    width: 250px;
    height: 65px;
    font-size: var(--font-size);
    border-radius: 20px;
}

.main-record a {
    color: var(--link-color);
}

.main-educations {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.main-education {
    font-size: calc(var(--font-size) - 2px);
    width: 400px;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.5;
}

.main-contacts {
    margin-top: 10px;
    text-align: center;
    line-height: 1.5;
}

.main-contacts h2 {
    padding: var(--padding);
}

.main-last-string {
    padding: var(--padding);
    font-size: calc(var(--font-size) + 2px);
}

/* Подвал */
.footer {
    display: flex;
    background-color: var(--header-color);
    box-shadow: 0 -2px 5px var(--shadow-color);
    padding: 30px var(--padding);
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    flex: 1 1 1;
}

.footer p {
    margin: 8px 0;
}

.footer a {
    color: var(--text-color);
}

.footer a:hover {
    text-decoration: underline;
}

.footer i {
    margin-right: 8px;
    color: #007bff;
}

/* Иконки соцсетей */
.social-link {
    font-size: var(--font-size);
    margin-right: 10px;
}

.social-link:hover {
    color: #0056b3;
}

.copyright {
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    background: var(--shadow-color);
}

/* Кнопка "наверх" */
#topBtn {
    position: fixed;
    right: 30px;
    bottom: 20px;
    font-size: var(--font-size);
    background-color: rgba(64, 64, 64, 0.75);
    color: var(--primary-color);
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#topBtn:hover {
    background-color: #555;
    color: #f00;
}

/* Адаптация */
/* Для смартфонов */
@media (max-width: 768px) {
    .top-bar{
        flex-direction: column;
        text-align: center;
    }
    .top-slogan{
        order: 2;
        margin: 8px 0;
    }
    .top-phone{
        order: 3;
        margin-bottom: 8px;
    }
    .menu-wrapper{
        justify-content: space-between;
    }
    .menu-icon{
        display: block;
    }
    .menu-list{
        position: fixed;
        top: calc(var(--menu-height) + var(--logo-size) + 20px);
        width: 210px;
        margin-top: 30px;
        transform: translateX(100%);
        opacity: 0;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.95);
        padding: var(--padding);
        border-radius: 8px 0 0 8px;
        box-shadow: 0 4px 12px rgba (0, 0, 0, 0.1);
        transition: transform 0.3s ease, opacity 0.3 ease;
        gap: 10px;
        z-index: 1001;
    }
    .menu-list.active{
        transform: translateX(0);
        opacity: 1;
    }
    .menu-list a{
        margin: 30px 0;
        line-height: 40px;
        text-align: center;
    }
    .main-text{
        margin: 10px 20px;
    }
    .main-text h2{
        font-size: 24px;
        padding: 0;
        text-align: center;
    }
    .main-primary-text img{
        width: 100%;
        height: 50%;
        float: none;
        margin-bottom: 10px;
    }
    .main-text p{
        font-size: 16px;
    }
    
    
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-section{
        width: 100%;
        text-align: center;
    }
}

/* Для очень маленьких экранов */
@media (max-width: 375px){
    .main-content p, .top-slogan{
        font-size: 14px;
    }
}